<div class="container">
  <h1>Booker</h1>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="email" required />
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControl]="password" required />
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error *ngIf="password.invalid">{{
      getPasswordErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    {{ submitLabel }}
  </button>
</div>
